/*=========================================================
WOIX RESPONSIVE V2
=========================================================*/


/*==========================
Large Laptop
==========================*/

@media (max-width:1200px){

.container{

    width:94%;

}

.hero-grid,
.markets-grid{

    gap:50px;

}

.hero-left h1{

    font-size:72px;

}

.section-heading h2{

    font-size:56px;

}

}


/*==========================
Laptop
==========================*/

@media (max-width:992px){

/* Navigation */

.nav-menu{

    display:none;

}

.menu-toggle{

    display:block;

}

/* Hero */

.hero,
.about-hero,
.services-hero{

    padding:60px 0 90px;

}

.hero-grid{

    grid-template-columns:1fr;

    text-align:center;

}

.hero-left{

    max-width:100%;
     text-align:center;

}

.hero-buttons{

    justify-content:center;

}

.hero-stats{

    justify-content:center;

}

.hero-right{

    order:-1;

}

/* Features */

.features-grid{

    grid-template-columns:repeat(2,1fr);

}

/* Industries */

.industry-grid{

    grid-template-columns:1fr;

}

/* Services */

.services-grid{

    grid-template-columns:repeat(2,1fr);

}

/* Markets */

.markets-grid{

    grid-template-columns:1fr;

}

.markets-content{

    text-align:center;

}

.market-list{

    justify-content:center;

}

/* Footer */

.footer-grid{

    grid-template-columns:repeat(2,1fr);

}

}


/*==========================
Tablet
==========================*/

@media (max-width:768px){

section{

    padding:80px 0;

}

.hero-left h1{

    font-size:52px;

}

.section-heading h2{

    font-size:42px;

}

.features-grid{

    grid-template-columns:1fr;

}

.services-grid{

    grid-template-columns:1fr;

}

.market-stats{

    grid-template-columns:1fr 1fr;

}

.market-list{

    grid-template-columns:1fr;

}

.cta-box{

    padding:60px 35px;

}

.cta-box h2{

    font-size:42px;

}

.footer-grid{

    grid-template-columns:1fr;

}

.footer-bottom{

    flex-direction:column;

    text-align:center;

}
.logo img{

    width:140px;

    height:auto;

}

.nav-right .btn-dark{

    display:none;

}

.hero-right img{

    max-width:420px;

    margin:auto;

}

.industry-image{

    height:260px;

}

.country-card img{

    height:220px;

}

.contact-form-box,
.quote-form-box{

    padding:25px;

}

}


/*==========================
Mobile
==========================*/

@media (max-width:576px){

.hero-left h1{

    font-size:44px;

}

.hero-buttons{

    flex-direction:column;

}

.hero-buttons a{

    width:100%;

}

.hero-stats{

    flex-direction:column;

    gap:25px;

}

.market-stats{

    grid-template-columns:1fr;

}

.cta-buttons{

    flex-direction:column;

}

.cta-buttons a{

    width:100%;

    justify-content:center;

}

}
/*==================================================
MOBILE MENU
==================================================*/

/* Markets Page */

@media(max-width:992px){

.markets-grid-4{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.markets-grid-4{

grid-template-columns:1fr;

}

}
/* Featured Markets */

@media(max-width:992px){

.country-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.country-grid{

grid-template-columns:1fr;

}

}
/* Why Markets */

@media(max-width:992px){

.why-grid{

grid-template-columns:1fr;

}

}
/* Trade Stats */

@media(max-width:992px){

.stats-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.stats-grid{

grid-template-columns:1fr;

}

}
/* Contact Page */

@media(max-width:992px){

.contact-grid{

grid-template-columns:1fr;

gap:60px;

}

.contact-info{

text-align:center;

}

.info-item{

justify-content:center;

text-align:left;

}

.contact-form-box{

padding:35px;

}

}
@media (max-width:992px){

    .faq-grid{

        grid-template-columns:1fr;

    }

}
@media (max-width:768px){

    .form-grid{

        grid-template-columns:1fr;

    }

    .quote-form-box{

        padding:35px 25px;

    }

}